<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppBaranov.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppBaranov.Settings1>
            <setting name="textTimeOn" serializeAs="String">
                <value />
            </setting>
            <setting name="textTimeOff" serializeAs="String">
                <value />
            </setting>
            <setting name="nameAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="newPassAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="ComboBoxSet" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffMo" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffTu" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffWe" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffTh" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffFr" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffSa" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOffSu" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnMo" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnTu" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnWe" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnTh" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnFr" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnSa" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxOnSu" serializeAs="String">
                <value />
            </setting>
        </AppBaranov.Settings1>
    </userSettings>
</configuration>